@media (max-width: 1000px) {

    .forms{
        margin: 100px 0 500px;
    }

    .forms form {
        width: 100%;
        justify-content: space-between;
    }

    .forms .contact-inf{
        margin-top: 20px;
        position: absolute;
        width: 100%;
        bottom: -480px;
        left: 0;
    }


}