@media (max-width: 767px) {

    header .container{
        margin: 0;
        padding: 0;
        width: 100%;
    } 

    header nav a {
        padding: 20px 10px;
    }

    header nav ul.dropdown li a {
        display: inline-block; 
    } 


}